.lead {
  margin: 56px auto 0;
  max-width: 984px;
}

@media (max-width: 1140px) {
  .place {
    max-width: 924px;
  }
}

@media (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0;
  }
}

@media (max-width: 768px) {
  .lead {
    margin: 48px 0 0;
  }
}