.cover {
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 830px) {
  .cover {
    min-height: 550px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 460px) {
  .cover {
    min-height: 288px;
  }
}

@media (max-width: 425px) {
  .cover {
    min-height: 266px;
  }
}

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}