.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 8px 0 0;
}

@media (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 460px) {
  .lead__caption {
    margin-left: 16px;
  }
}